.quote__wrapper {
  background-color: var(--color-secondary);
  padding: 4rem 0;
}

.quote__container{
  margin: 0 auto;
  max-width: 1200px;
}

[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  
}

.keen-slider {
  width: 100%; /* Or set a specific max width if needed */
  overflow: hidden;
}

.keen-slider__slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote__slide {
  position: relative;
  width: 400px;
  height: 400px; /* Or whatever fits your layout */
  overflow: hidden;
  border-radius: 12px;
}

.quote__slide p{
 font-weight: bold;
}

.quote__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  color: #fff;
  width: 100%;
  font-size: 1.75rem;
  font-style: italic;
  font-weight: 500;
  backdrop-filter: blur(4px);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}


@media (max-width: 768px) {
  .quote__wrapper {
    padding: 2rem 0;
  }

  .quote__overlay {
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
    
  }

  .quote__slide {
    height: 400px; /* Or whatever fits your layout */
    overflow: hidden;
    border-radius: 8px;
  }
}
@media (max-width: 480px) {
  .quote__container{
    
  }

  .quote__slide {
    height: 350px; /* Or whatever fits your layout */
    border-radius: 8px;
  }
}
