.quote__wrapper {
  padding: 3rem; /* Adjust as needed */
  box-sizing: border-box;
  background-color: #C7CADC;
  border-radius: var(--radius-lg);
  margin: 4rem 2rem;
  min-width: 90%;

}

[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
}

.keen-slider {
  width: 100%; /* Or set a specific max width if needed */
  overflow: hidden;
}

.keen-slider__slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote__slide {
  position: relative;
  height: 400px; /* Or whatever fits your layout */
  overflow: hidden;
  border-radius: 12px;
}

.quote__slide p{
 font-weight: bold;
}

.quote__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  color: #fff;
  width: 100%;
  font-size: 1rem;
  font-style: italic;
  font-weight: 500;
  backdrop-filter: blur(4px);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}


@media (max-width: 768px) {
  .quote__wrapper {
    padding: 1.5rem;
  }

  .quote__slide {
    height: 300px; /* Or whatever fits your layout */
    overflow: hidden;
    border-radius: 8px;
  }
}
@media (max-width: 480px) {
  .quote__wrapper {
    padding: 1.5rem;
    margin: 3rem 1.5rem;
  }

  .quote__slide {
    height: 250px; /* Or whatever fits your layout */
    border-radius: 8px;
  }
}
